<%- include partials/header %>
<%- include partials/nav %>

  <section class="hero is-light is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <%= album.attributes.title %>
        </h1>
        <h2 class="subtitle">
          <em>by <%= album.attributes.artist %></em>
        </h2>
      </div>
    </div>
    <a class="button is-warning" href="/reviews/<%- album.id %>/new_review">
      Add a Review
    </a>
  </section>

  <div class="columns">
    <div class="column is-7 is-offset-1">
      <div class="has-text-centered">
        Recent Reviews
      </div>
      <div class="review-list">
        <% reviews.forEach(function(review) { %>
        <div>
          <%= review.attributes.content %>
        </div>
       <% })%>

      </div>

    </div>


  </div>

<%- include partials/footer %>
