<%- include partials/header %>
<%- include partials/nav %>

<div>
  Welcome to the user's profile!
  They should be <%- data.username %> <br />
  Their email is <%- data.email %> <br />
  They have been a member since <%- data.member_since %>
</div>

<%- include partials/footer %>
